#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.score {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.user.selection {
    display: flex;
    gap: 10px;
}

.play {
    display: flex;
    justify-content: space-around;
    width: 100%;
}



